@{
  ViewData["Title"] = "Category";
}

@model Category
<div class="text-center">
  <h1>@Model.Name</h1>
  <div class="page-in-half">
    <!-- New Categories of Product -->
    <div>
      <h2>Existing Products</h2>
      <ul>
        @foreach(var a in @Model.Associations)
        {
          <li>@a.Product.Name</li>
        }
      </ul>
    </div>
    <!-- Existing Categories List -->
    <div>    
      <h2>Add Product:</h2>
      <form action='associate/@Model.CategoryId' method="POST">
        <input type="hidden" name="categoryId" value='@Model.CategoryId'>
        <select name="productId">
          @foreach(var nA in @ViewBag.NoAssociations)
          {
            <option value='@nA.ProductId'>@nA.Name</option>
          }
        </select>
        <input type="submit" value="Add">
      </form>
    </div>  
  </div>
</div>

